
body.home {                                                                                                      
    margin-top: 10px;                                                                                        
    background-image: url("../Images/Grand_Teton.jpg");                                   
    background-repeat: no-repeat;                                                                            
    background-position: center top; 
    background-size: 1000px 600px; /*width and height of the background-image */
    background-color: steelblue;                                                                                                                                                   
    font-family: 'Times New Roman', Times, serif;                                                          
    color: #000000;                                                                                          
}    

body.career, body.interests, body.retirement {                                                                                                      
    margin-top: 10px;                                                                                                                     
    background-repeat: no-repeat;                                                                            
    background-position: center top;
    background-color: steelblue;                                                                                                                                                   
    font-family: 'Times New Roman', Times, serif;                                                          
    color: #000000;                                                                                          
}    

h1.page_title {                                                                                                       
    font-size: 325%;                                                                                  
    text-align: center;
    font-weight: bold;                                                                                    
    margin-top: 0px;                                                                                  
}  

nav {
    text-align: center; 
    font-size: 200%;
    font-weight: bold; 
} 

div.main_home_grid {
    margin-top: 450px;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

div.my_home_grid {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

p.home_info_par {
    font-size: 50%;
    text-align: center;
    color: rgb(175, 162, 162);    
}

a.my_link {
    color: black;
}


#navbarNavAltMarkup > div > a.nav-item.nav-link.active {
    color: rgb(218, 100, 32);
}

#navbarNavAltMarkup > div > a.nav-item.nav-link {
    color: rgb(218, 32, 88);
}
