$hyper_link_color: black;
$text_color: rgb(209, 204, 204);
$table_border_color: black; 

/* SASS Inheritance */
%message {
    margin-top: 10px;                                                                                                                     
    background-repeat: no-repeat;                                                                            
    background-position: center top;
    background-color: steelblue;                                                                                                                                                 
    font-family: 'Times New Roman', Times, serif;                                                          
    color: #000000;
}

/* Home page background picture and formatting info */
#home {                                                                                                      
    @extend %message;                                                                                    
    background-image: url("./Images/Grand_Teton.jpg");                              
    background-size: 1000px 600px; /*width and height of the background-image */                                                                                     
}    

#career, #interests, #retirement {                                                                                                      
    @extend %message;                                                                                       
}  

/* Using the CSS property @media to resize the Cameron_pass_map on my retirement page
if the screen size width falls below 1000px wide. */
@media (max-width: 1000px) {
    #Cameron_pass_map {
        width: 300px;
        height: 450px;
    }
}

/* Using the CSS property @media to resize the Cameron_pass_sign Map on my retirement page
if the screen size width falls below 1000px wide. */
@media (max-width: 680px) {
    #Cameron_pass_sign {
        width: 250px;
        height: 200px;
    }
}

h1.page_title {                                                                                                       
    font-size: 325%;                                                                                  
    text-align: center;
    font-weight: bold;                                                                                    
    margin-top: 0px;                                                                                  
} 

nav {
    text-align: center; 
    font-size: 200%;
    font-weight: bold; 
} 

div.main_home_grid {
    margin-top: 450px;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

div.main_career_grid {
    margin-top: 50px;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    color: $text_color;
}

div.retirement_grid {
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

/* Do a few custom colors on the the navbar-toggler */
.navbar-toggler {
    background-color: rgba(18, 78, 93, 0.233);
    border: 3px solid black;
}

div.my_home_grid {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
} 

table.table-bordered {
    font-size: 85%;
    border: 3px solid black;
}


/* SASS nesting to format the career table cell borders */
table.table-bordered {
    thead {
        tr{
            border: 3px solid $table_border_color;
        }
        th {
            border: 3px solid $table_border_color;
        }
    }
    tbody {
        tr {
            border: 3px solid $table_border_color;
        }
        td {
            border: 3px solid $table_border_color;
            font-size: 150%; 
            font-weight: bold;       }
    }
}

th.table_title {
    font-size: 250%;
    text-align: center;
    font-weight: bold;
    color: rgb(18, 10, 85);
}

p.home_info_paragraph {
    font-size: 50%;
    text-align: center;
    color: $text_color;    
}

p.retire_info_paragraph {
    font-size: 75%;
    text-align: center;
    color: $text_color;
}

.list_of_interests {
    font-size: 50%;
    margin-left: 30px;
    text-align: left;
    color: $text_color;
}

#USFS_title {
    color: black;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

#Cameron_pass_map_link {
    font-size: 90%;
    color: black;
    margin-left: 75px;
}

#USFS_map_link {
    margin-left: 60px;
}

#Trail_map img:hover {
    transform: scale(1.1);
}

#Cameron_video {
    color: black;
    font-weight: bold;
}

.video_format {
    margin-left: 25px;
    border: none;
}

#Cameron_pass_sign {
    border-radius: 5px 5px 5px 5px;
}

#Cameron_pass_map {
    border-radius: 5px 5px 5px 5px;
}  

div.rving {
    h2 {
        font-weight: bold;
        text-align: center;
    }
    img {
        border-radius: 5px 5px 5px 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
            
    }
}

a.my_link {
    color: $hyper_link_color;
}

/* Change the color of the Navbar links */
#navbarNavAltMarkup > div > a.nav-item.nav-link.active {
    color: rgb(218, 100, 32);
}

#navbarNavAltMarkup > div > a.nav-item.nav-link {
    color: rgb(218, 32, 88);
}
