/*Sean Chapin "project0" implementation */
/* #id and .class selectors are used throughout. sass varables and nesting along with 
inheritance are documented when used below. */
/* Use of sass variables */
/* SASS Inheritance implementation*/
#career, #interests, #retirement, #home {
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: steelblue;
  font-family: "Times New Roman", Times, serif;
  color: #000000;
}

/* Home page background picture and formatting info */
#home {
  background-image: url("./Images/Grand_Teton.jpg");
  background-size: 1000px 600px;
  /*width and height of the background-image */
}

/* Using the CSS property @media (mobile-response) to resize the Cameron_pass_map on my 
retirement page if the screen size width falls below 1200px wide. */
@media (max-width: 1200px) {
  #Cameron_pass_map {
    width: 300px;
    height: 450px;
  }
}
/* Using the CSS property @media to resize the Cameron_pass_sign Map on my retirement page
if the screen size width falls below 770px wide. */
@media (max-width: 770px) {
  #Cameron_pass_sign {
    width: 250px;
    height: 200px;
  }
}
/* Using the CSS property @media to resize the the landscape pictures on my interests page
if the screen size width falls below 1000px wide. */
@media (max-width: 1000px) {
  .interest_picture {
    width: 300px;
    height: 200px;
  }
}
h1.page_title {
  font-size: 325%;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
}

nav {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

div.main_home_grid {
  margin-top: 450px;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
}

div.main_career_grid {
  margin-top: 50px;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  color: #d1cccc;
}

div.main_interests_grid {
  margin-top: 50px;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  color: #d1cccc;
}

div.retirement_grid {
  font-size: 150%;
  text-align: center;
  font-weight: bold;
}

/* Do a few custom colors on the the navbar-toggler */
.navbar-toggler {
  background-color: rgba(18, 78, 93, 0.233);
  border: 3px solid black;
}

div.my_home_grid {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

/* SASS nesting to format the career table border and cell borders */
table.table-bordered thead tr {
  border: 3px solid black;
}
table.table-bordered thead th {
  border: 3px solid black;
}
table.table-bordered tbody tr {
  border: 3px solid black;
}
table.table-bordered tbody td {
  border: 3px solid black;
  font-size: 150%;
  font-weight: bold;
}

/* Additional sass nesting */
div.interest_grid img {
  border-radius: 5px 5px 5px 5px;
}
div.interest_grid h3 {
  text-align: centered;
  font-weight: bold;
  color: black;
}

.backpacking h3 {
  text-align: centered;
  font-weight: bold;
  color: black;
}

/* Make a square picture round */
#Sawmill_ski {
  border-radius: 250px 250px 250px 250px;
}

th.table_title {
  font-size: 250%;
  text-align: center;
  font-weight: bold;
  color: #120a55;
}

p.home_info_paragraph {
  font-size: 50%;
  text-align: center;
  color: #d1cccc;
}

p.retire_info_paragraph {
  font-size: 75%;
  text-align: center;
  color: #d1cccc;
}

.list_of_interests {
  font-size: 50%;
  margin-left: 30px;
  text-align: left;
  color: #d1cccc;
}

#USFS_title {
  color: black;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
}

#Cameron_pass_map_link {
  font-size: 90%;
  color: black;
  margin-left: 75px;
}

#USFS_map_link {
  margin-left: 60px;
}

#Trail_map img:hover {
  transform: scale(1.1);
}

#Cameron_video {
  color: black;
  font-weight: bold;
}

.video_format {
  margin-left: 25px;
  border: none;
}

#Cameron_pass_sign {
  border-radius: 5px 5px 5px 5px;
}

#Cameron_pass_map {
  border-radius: 5px 5px 5px 5px;
}

div.rving h2 {
  font-weight: bold;
  text-align: center;
}
div.rving img {
  border-radius: 5px 5px 5px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.my_link {
  color: black;
}

/* Change the color of the Navbar links */
#navbarNavAltMarkup > div > a.nav-item.nav-link.active {
  color: #da6420;
}

#navbarNavAltMarkup > div > a.nav-item.nav-link {
  color: #da2058;
}

#Raspberry_pi_project {
  font-size: 85%;
  text-align: center;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
}

@media (min-width: 700px) {
  .rving h2::before {
    content: "RVing - Custer South Dakota";
  }
}
@media (max-width: 699px) {
  .rving h2::before {
    content: "RVing";
  }
}

/*# sourceMappingURL=sean's_website.css.map */
