$link_color: black;

#home {                                                                                                      
    margin-top: 10px;                                                                                        
    background-image: url("./Images/Grand_Teton.jpg");                              
    background-repeat: no-repeat;                                                                            
    background-position: center top; 
    background-size: 1000px 600px; /*width and height of the background-image */
    background-color: steelblue;                                                                                                                                               
    font-family: 'Times New Roman', Times, serif;                                                          
    color: #000000;                                                                                          
}    

#career, #interests, #retirement {                                                                                                      
    margin-top: 10px;                                                                                                                     
    background-repeat: no-repeat;                                                                            
    background-position: center top;
    background-color: steelblue;                                                                                                                                                 
    font-family: 'Times New Roman', Times, serif;                                                          
    color: #000000;                                                                                          
}  

/* Using the CSS property @media to resize the Cameron_Pass Map on my retirement page
if the screen size width falls below 1000px wide. */
@media (max-width: 1000px) {
    #Cameron_pass_map {
        width: 250px;
        height: 400px;
    }
}

@media (max-width: 680px) {
    #Cameron_pass_sign {
        width: 250px;
        height: 200px;
    }
}

h1.page_title {                                                                                                       
    font-size: 325%;                                                                                  
    text-align: center;
    font-weight: bold;                                                                                    
    margin-top: 0px;                                                                                  
}  

nav {
    text-align: center; 
    font-size: 200%;
    font-weight: bold; 
} 

div.main_home_grid {
    margin-top: 450px;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

/* Do a few custom colors on the the navbar-toggler */
.navbar-toggler {
    background-color: rgba(18, 78, 93, 0.233);
    border: 3px solid black;
}

div.my_home_grid {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

p.home_info_paragraph {
    font-size: 50%;
    text-align: center;
    color: rgb(175, 162, 162);    
}

div.retirement_grid {
    float: left;
    font-size: 120%;
    text-align: center;
    color: rgb(175, 162, 162);   
}

#USFS_title {
    color: black;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

#Cameron_pass_map_link {
    color: black;
    margin-left: 75px;
}

#USFS_map_link {
    margin-left: 60px;
}

#Trail_map img:hover {
    transform: scale(1.1);
}

#Cameron_video {
    color: black;
}

.video_format {
    margin-left: 25px;
    border: none;
}

#Cameron_pass_sign {
    border-radius: 5px 5px 5px 5px;
}

#Cameron_pass_map {
    border-radius: 5px 5px 5px 5px;
}  

a.my_link {
    color: $link_color;
}

/* Change the color of the Navbar links */
#navbarNavAltMarkup > div > a.nav-item.nav-link.active {
    color: rgb(218, 100, 32);
}

#navbarNavAltMarkup > div > a.nav-item.nav-link {
    color: rgb(218, 32, 88);
}
